@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Home Page";
}

<body class="register-body">
    <div class="container">
        <div class="text-center">
            <h1 class="display-4">Welcome @Context.Session.GetString("firstName") to SkyHappy Airlines</h1>
            <p>Thank you for choosing us!</p>
        </div>
        <div style="display: flex; justify-content: center;">
            <a class="btn btn-primary" asp-controller="Ticket" asp-action="Create">Book your flight now!</a>
        </div>
    </div>
</body>

